In [1]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
# performance metrics
from sklearn.metrics import accuracy_score, confusion_matrix
import matplotlib.pyplot as plt
import pandas as pd
url_data = "https://raw.githubusercontent.com/jealcalat/AEM-ITESO/main/datasets/default_islp.csv"
default = pd.read_csv(url_data)
default.head()

   Unnamed: 0 default student      balance        income
0           0      No      No   729.526495  44361.625074
1           1      No     Yes   817.180407  12106.134700
2           2      No      No  1073.549164  31767.138947
3           3      No      No   529.250605  35704.493935
4           4      No      No   785.655883  38463.495879